.header__mainHeader {
    background-color: #8395a7;
    text-align: center;
    box-shadow: 2px 3px 5px #576574;
    font-weight: bold;
}

.header__photo {
    width: 200px;
    box-shadow: 2px 3px 5px #576574;
}

.header__button {
    background-color: #8395a7;
    width: 200px;
    text-align: center;
    box-shadow: 2px 3px 5px #576574;
    font-weight: bold;
}