.tableContainer {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.table__cell {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #cdd9e8;
    padding: 10px;
}

.table__cell:hover {
    background-color: hsla(210, 17%, 58%, 0.459);
}

.table__cell--header {
    background-color: #8395a7;
    font-weight: bold;
}

